<html>
<head>
    <title>FINAL JEOPARDY: Category</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script type="text/javascript" src="jquery-1.8.3.js"> </script>
</head>
<body>
    <table class="cell" style="width: 60%">
        <tr class="cell">
            <td class="cell">
                <span>The category is...</span>
            </td>
        </tr>
        <tr class="cell">
            <td class="cell">
                <span style="font-size: 72pt">{{ category }}</span>
            </td>
        </tr>
        <tr class="cell">
            <td class="cell">
                <span><em>(to breakout rooms for wager)</em></span>
            </td>
        </tr>
        <tr class="cell">
            <td class="cell">
                <a class="flow" href="final.answer.html">Show Answer</a>
            </td>
        </tr>
        <tr class="cell">
            <td class="cell">
                <a class="flow" href="round{{ round_count}}.html">Back to Round {{ round_count }}</a>
            </td>
        </tr>
    </table>
</body>
</html>


