<html>
<head>
    <title>FINAL JEOPARTY: Question</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
    <table class="cell" style="width: 60%">
        <tr class="cell">
            <td class="cell">
                <span class="huge">{{ question }}</span>
            </td>
        </tr>
        <tr class="cell">
            <td class="cell">
                <a class="flow" href="end.html">Tally Up</a>
            </td>
        </tr>
        <tr class="cell">
            <td class="cell">
                <a class="flow" href="final.answer.html">Back to Answer</a>
            </td>
        </tr>
    </table>
</body>
</html>


