<html>
<head>
    <title>JEOPARTY!</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
    <table class="cell" style="width: 60%">
        <tr class="cell">
            <td class="cell">
                <span style="font-size: 72pt">JEOPARTY!</span>
            </td>
        </tr>
        <tr class="cell">
            <td class="cell">
                <a class="flow" href="round1.html">Begin</a>
            </td>
        </tr>
    </table>
</body>
</html>


