<html>
<head>
    <title>${{ prize if prize else 0 }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
    <table class="cell" style="width: 60%">
        <tr class="cell">
            <td class="cell">
                {% if 'WhoIs' in trivia %}
                <span>Who is <span class='red'>{{ trivia.WhoIs }}</span>?</span>
                {% elif 'WhoAre' in trivia %}
                <span>Who are <span class='red'>{{ trivia.WhoAre }}</span>?</span>
                {% elif 'WhatIs' in trivia %}
                <span>What is <span class='red'>{{ trivia.WhatIs }}</span>?</span>
                {% elif 'WhatAre' in trivia %}
                <span>What are <span class='red'>{{ trivia.WhatAre }}</span>?</span>
                {% else %}
                <span>{{ trivia.Question }}</span>
                {% endif %}
            </td>
        </tr>
        {% if 'Image' in trivia %}
        {% if trivia.Image | is_list %}
        {% for image in trivia.Image %}
        <tr class="cell">
            <td class="cell">
                <img width='800' src="{{ image }}"></img>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr class="cell">
            <td class="cell">
                <img width='800' src="{{ trivia.Image }}"></img>
            </td>
        </tr>
        {% endif %}
        {% endif %}
        <tr class="cell">
            <td class="cell">
                <a href="round{{ round_index }}.html">Back to Round {{ round_index }}</a>
            </td>
        </tr>
    </table>
</body>
</html>

