<html>
<head>
    <title>Question</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script type="text/javascript" src="jquery-1.8.3.js"> </script>
</head>
<body>
    <table class="cell" style="width: 60%">
        <tr class="cell">
            <td class="cell">
                <span>{{ question }}</span>
            </td>
        </tr>
        <tr class="cell">
            <td class="cell">
                <a href="round{{ round_index }}.html">Back to Round {{ round_index }}</a>
            </td>
        </tr>
    </table>
</body>
</html>

