[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
j = {editable = true,path = "."}

[packages]
j = {path = ".",editable = true}
jinja2 = "*"
pyyaml = "*"
munch = "*"

[pipenv]
allow_prereleases = true
